header {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   font-size: 1rem;
   font-weight: 800;

   background-color: rgb(125, 181, 230);
}

header h3 {
   padding: 0.5em;
}