section {
    box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    border-radius: 1.5em;
    min-width: 250px;
}

.spell-level {
    font-weight: 800;
    font-size: 1.25rem;
    padding: 0.5em 1em;
    background-color: rgb(104, 4, 95);
    border-radius: 1.5em 1.5em 0 0;
}

.spells {
    display: grid;
    
}