section {
    padding: 2em;
    box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.55);
    -webkit-box-shadow: 4px 4px 25px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 4px 25px -5px rgba(0,0,0,0.55);
    border-radius: 1.5em;
}