section {
    box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 5px 7px 19px -1px rgba(0,0,0,0.32);
    border-radius: 1.5em;
    min-width: 250px;
}

.spell-level {
    font-weight: 800;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5em 1em;
    background-color: rgb(228, 228, 228);
    border-radius: 1.5em 1.5em 0 0;
}

.spells {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}